* {
    padding: 0;
    margin: 0;
    font-family: poppins;
    box-sizing: border-box;
}

main {
    margin: 2%;
}

body {
    background-color: #d5f1ee;
}

    /* Area de navegacion */

#header {
    width: 100%;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #ff9b00;
    color: #fff;
    padding-top: .6%;
    padding-bottom: .6%;
    border: 3px solid #000;
}
    
header > h1 {
    display: inline-block;
    background-color: transparent;
}
    
#logo {
    margin-left: 4%;
    margin-right: 4%;
    width: 35px;
    background-color: transparent;
}
    
#navegacion {
    display: flex;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 80%;
    position: absolute;
    top: 25px;
    width: max-content;
}
    
#navegacion > a {
    color: #fbff00;
    margin-right: 20px;
    text-decoration: none;
}

#inicio {
    position: relative;
}

#acerca {
    position: relative;
}

#inicio:hover {
    top: -5px;
    border-bottom: 4px #17ffab solid;
    text-shadow: 0px 8px 20px #000;
}

#acerca:hover {
    top: -5px;
    border-bottom: 4px #17ffab solid;
    text-shadow: 0px 8px 20px #000;
}



/* Header con navegacion responsiva */

header label img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    padding: 10px;
}

.menu ul {
    display: none;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}



    /* Contenido principal */

#texto-introduccion > p {
    font-family: heebo;
    font-weight: 700;
    color: #6071bb;
    font-size: 25px;
    text-align: justify;
}

#energia {
    color: #ff2926;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
}

.que-es-la-energia {
    color: #ff5e26;
    font-size: 23px;
    font-weight: bold;
    text-align: justify;
} 

#renovables {
    font-size: 23px;
    color: #04a313;
    background-color: #98ff81;
    padding: 0 2% 0 2%;
    margin: 0 0 30px 0;
    text-align: justify;
}

#no-renovables {
    font-size: 23px;
    color: #df2020;
    background-color: #ffa09a;
    padding: 0 2% 0 2%;
    text-align: justify;
}

#p-energia {
    color: #d39ee8;
    text-shadow: 1px 1px 1px #000;
    font-size: 50px;
    font-family: bebas neue;
    background-color: #0bfffb;
    text-align: center;
    border: 4px #000 solid;
    margin: 80px -2% 0 -2%;
    padding: 7px;
}

#texto-r {
    font-size: 45px;
    color: #209745;
    background-color: #67ff5a;
    font-family: bebas neue;
    font-weight: lighter;
    text-align: center;
    border: 3px solid #000;
    margin: 0 -2% 0 -2%;
    border-radius: 10px;
}

#texto-nr {
    font-size: 45px;
    color: #ff0000;
    background-color: #ffa09a;
    font-family: bebas neue;
    font-weight: lighter;
    text-align: center;
    border: 3px solid #000;
    margin: 0 -2% 0 -2%;
    border-radius: 10px;
}

    /* Seccion de imagenes */

.img-menu {
    display: inline-block;
    margin: 11px;
    border: 5px #000 solid;
    padding: 20px 0 0px;
    border-radius: 30px;
}

.img-menu:hover {
    box-shadow: 2px 2px 25px 0 #000;
}

.img-menu > img {
    width: 287px;
}

.img-menu > h3 {
    font-size: 25px;
    text-decoration: none;
    color: #000;
    text-align: center;
    background-color: transparent;
}

.a-href {
    text-decoration: none;
}

#energia-eolica {
    background-color: #06b8bb;
}

#energia-biomasa {
    background-color: #a873ee;
}

#energia-geotermica {
    background-color: #f96450;
}

#energia-hidraulica {
    background-color: #00ffaa;
}

#energia-solar {
    background-color: #68ff89;
}

#energia-mareomotriz {
    background-color: #00ffff;
}

#energia-undimotriz {
    background-color: #749def;
}

#energia-petroleo {
    background-color: #e6bcfa;
}

#energia-carbon {
    background-color: #ffffb0;
}

#energia-gas {
    background-color: #a4c8da;
}

#energia-nuclear {
    background-color: #bc5feb;
}  


    /* Apartado del footer */

#fin-pag {
    width: 100%;
    height: 240px;
    background-color: #b9fff2;
    padding: 35px;
}

.tipos-footer {
    text-align: center;
}

#parrafos-footer {
    position: absolute;
    top: 130px;
}

#parrafos-footer > p {
    font-size: 21.5px;
    color: rgba(0, 0, 0, 0.7);
}


#renovables-footer {
    margin-left: 70%;
    position: absolute;
    font-size: 15px;
    color: rgba(41, 180, 41, 0.8);
}

#renovables-footer > ul {
    list-style: none;
    text-align: center;
}

#renovables-footer > ul > li > a {
    text-decoration: none;
    color: #000;
}

#renovables-footer > ul > li > a:hover {
    color: rgba(0, 0, 0, 0.5);
}

#no-renovables-footer {
    margin-left: 80%;
    position: absolute;
    font-size: 15px;
    color: rgba(210, 0, 0, 0.8);
}

#no-renovables-footer > ul {
    list-style: none;
    text-align: center;
}

#no-renovables-footer > ul > li > a {
    text-decoration: none;
    color: #000;
}

#no-renovables-footer > ul > li > a:hover {
    color: rgba(0, 0, 0, 0.5);
}

#informacion-footer {
    position: relative;
}

#informacion-footer > h4 {
    position: absolute;
    top: 15px;
    left: 50px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}

#informacion-footer > h3 {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.7);
}